body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f8f7f2;
    color: #333;
}

header {
    background: #2e5e3e;
    color: white;
    text-align: center;
    padding: 80px 20px;
}

main {
    max-width: 1000px;
    margin: auto;
    padding: 40px 20px;
}

section {
    margin-bottom: 60px;
}

h2 {
    color: #2e5e3e;
}

img {
    width: 100%;
    border-radius: 10px;
}

footer {
    background: #2e5e3e;
    color: white;
    text-align: center;
    padding: 20px;
}